<div>
 <nav class="navbar navbar-expand-md bg-dark navbar-dark">
  <h6 class="navbar-brand">Catagories</h6>
  <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="openAddModel(true)">New</button>
 </nav>
</div>
<div class="table-responsive-md">
  <table class="table table-striped">
      <thead>
          <tr>
              <th>S.NO</th>
              <th>Name</th>
              <th>Edit</th>
              <th>Delete</th>
          </tr>
      </thead>
      <tbody>
          
          <tr *ngFor="let catagory of catagories;index as i">
              <td>{{i + 1}}</td>
              <td>{{catagory.name}}</td>
              <td><a (click)="openEditModel(true,catagory)"><i class="fa fa-eraser" aria-hidden="true"></i></a></td>
              <td><a (click)="deleteCatagory(catagory._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
          </tr>
      </tbody>
  </table>
</div>

<!-- The Add Modal -->
<div class="modal fade" id="addModal" [ngStyle]="{'display': showAddModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Add Catagory</h4>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div class="container-fluid bg-light py-3">
                  <form id="contact-form" method="post" role="form">
                      <div class="addresss"></div>
                      <div class="controls">
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <label for="form_name">Name </label>
                                      <input id="form_name" type="text" name="name" class="form-control"
                                          placeholder="Name" [(ngModel)]="catagory.name">
                                      <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="cancelModel()">Cancel</button>
              <button type="button" class="btn btn-success" (click)="createNewCatagory()">Save</button>
          </div>

      </div>
  </div>
</div>

<!-- The Edit Modal -->
<div class="modal fade" id="editModal" [ngStyle]="{'display': showEditModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
      <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
              <h4 class="modal-title">Update Catagory</h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
              <div class="container-fluid bg-light py-3">
                  <form id="contact-form" method="post" action="contact.php" role="form">
                      <div class="addresss"></div>
                      <div class="controls">
                          <div class="row">
                              <div class="col-sm-4">
                                  <div class="form-group">
                                      <label for="form_name">Name </label>
                                      <input id="form_name" type="text" name="name" class="form-control"
                                          placeholder="Name" [(ngModel)]="catagory.name">
                                      <div class="help-block with-errors"></div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
              <button type="button" class="btn btn-danger" (click)="cancelModel()">Cancel</button>
              <button type="button" class="btn btn-success" (click)="updateCatagory()">Update</button>
          </div>

      </div>
  </div>
</div>
