<div>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark">
    <h6 class="navbar-brand">Questions</h6>
    <button type="button" class="btn btn-secondary" data-toggle="modal" (click)="openAddModel(true)">New</button>
  </nav>
</div>
<div class="table-responsive-md">
  <table class="table table-striped">
    <thead>
      <tr>
        <th>S.NO</th>
        <th>Question</th>
        <th>Edit</th>
        <th>Delete</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let question of questions;index as i">
        <td>{{i + 1}}</td>
        <td>{{question.quest}}</td>
        <td><a (click)="openEditModel(true,question)"><i class="fa fa-eraser" aria-hidden="true"></i></a></td>
        <td><a (click)="deleteTopic(question._id)"><i class="fa fa-trash" aria-hidden="true"></i></a></td>
      </tr>
    </tbody>
  </table>
</div>

<!-- The Add Modal -->
<div class="modal fade" id="addModal" [ngStyle]="{'display': showAddModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Add Question</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid bg-light py-3">
          <form id="questionsForm">
            <div class="addresss"></div>
            <div class="controls">
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-bold">Question</span>
                    </div>
                    <textarea id="form_name" wrap="hard" type="text" name="quest" [(ngModel)]="question.quest"
                      class="form-control" aria-label="With textarea"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="form-group">
                    <span>
                      <label for="form_name" class="font-weight-bold">Add Options </label>
                      <button type="button" class="btn pull-right btn-primary btn-sm" (click)="addOption()">Add</button>
                    </span>
                    <div *ngFor="let option of question.options;index as i">
                      <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon1">{{option.key}}</span>
                        </div>
                        <input type="text" class="form-control" placeholder="option" aria-label="Value"
                          (input)="SetOptionValue(i,$event.target.value)" name="optionValue"
                          aria-describedby="basic-addon1">
                        <div class="input-group-postpond">
                          <span class="input-group-text" id="basic-addon2">
                            <button (click)="removeOption(i)"><i class="fa fa-times-circle"
                                aria-hidden="true"></i></button>
                          </span>
                        </div>
                      </div>
                    </div>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-6">
                  <label for="form_topic" class="font-weight-bold">Select Topic </label>
                  <ng-multiselect-dropdown #multiSelect [placeholder]="'Select topic'" [data]="topics"
                    [formControl]="f.topic" [settings]="settings" (onSelect)="onItemSelect($event)">
                  </ng-multiselect-dropdown>
                </div>
                <div class="col-sm-6" *ngIf="canVisibleAnswerOptions">
                  <label for="form_answer" class="font-weight-bold">Select Answer options</label>
                  <ng-multiselect-dropdown #multiSelect [placeholder]="'Select answer options'" [data]="ansOptions"
                    [formControl]="f.answer" [settings]="ansSettings">
                  </ng-multiselect-dropdown>
                </div>
              </div><br>
              <div class="row">
                <div class="col-sm-12">
                  <div class="input-group form-group">
                    <div class="input-group-prepend">
                      <span class="input-group-text font-weight-bold">Solution</span>
                    </div>
                    <textarea id="form_solution" wrap="hard" type="text" name="solution" [(ngModel)]="question.solution"
                      class="form-control" aria-label="With textarea"></textarea>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-sm-12">
                  <div class="editor-tag" (click)="focusTagInput()">
                    <span class="tag-item" *ngFor="let tag of tags; let i = index">
                            {{tag}}
                            <span class="remove-tag" (click)="removeTag(i)">×</span>
                          </span>
                          <input
                          placeholder="Asked in"
                          #tagInput type="text"
                          class="input-tag"
                          (keyup)="onKeyUp($event)"
                          [formControl]="f.tag">
                        </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cancelModel()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="save()">Save</button>
      </div>

    </div>
  </div>
</div>

<!-- The Edit Modal -->
<div class="modal fade" id="editModal" [ngStyle]="{'display': showEditModal ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Update Topic</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container-fluid bg-light py-3">
          <form id="contact-form" method="post" action="contact.php" role="form">
            <div class="addresss"></div>
            <div class="controls">
              <div class="row">
                <div class="col-sm-4">
                  <div class="form-group">
                    <label for="form_name">Name </label>
                    <input id="form_name" type="text" name="name" class="form-control" placeholder="Name"
                      [(ngModel)]="question.name">
                    <div class="help-block with-errors"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="clearfix"></div>
          </form>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" (click)="cancelModel()">Cancel</button>
        <button type="button" class="btn btn-success" (click)="updateTopic()">Update</button>
      </div>

    </div>
  </div>
</div>